<app-navegacion></app-navegacion>
<div class="container mt-3">

    <div class="container mt-3">
        <h3>Lista de productos</h3>

        <ul id="productos" class="w-75 mx-auto list-group list-group-horizontal flex-wrap">
            @for(productoElemento of productos; track productoElemento){
            <app-producto [producto]="productoElemento" />
            }
        </ul>

    </div>
    <div>
        <button class="btn btn-success my-5" (click)="agregarProducto()">Agregar Producto</button>
    </div>


</div>